<h1>Listing discussions</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Allocation tag</th>
    <th></th>
  </tr>

<% @discussions.each do |discussion| %>
  <tr>
    <td><%= discussion['name'] %></td>
    <td><%= discussion['description'] %></td>
    <td><%= discussion['allocation_tag_id'] %></td>
    <td><%= link_to 'Show', Discussion.find(discussion['id']) %></td>
  </tr>
<% end %>
</table>
